canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(18, 19, 20);
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

header {
  margin-top: 35rem;
  margin-bottom: 30rem;
  font-family: Montserrat;
  grid-column-start: 2;
  grid-column-end: 13;
}

header h1 {
  font-size: 5rem;
}

header h2 {
  font-size: 3rem;
}

header p {
  margin-top: 1.5rem;
  font-size: 2rem;
}

main {
  position: absolute;
  color: white;
  width: 100%;
}

nav {
  margin-top: 25px;
  position: fixed;

  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav div {
  height: 50px;
  background-color: rgb(25, 26, 27);
  display: flex;
  width: 400px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

nav div a {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: Montserrat;
  color: gray;
}

nav div a:hover {
  color: white;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.container-main {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
}

#about {
  padding-top: 15rem;
  grid-column-start: 3;
  grid-column-end: 13;
  font-family: Montserrat;
  margin-bottom: 1000px;
}

#about h1 {
  font-size: 3.5rem;
}

#about p {
  width: 50rem;
  font-size: 2rem;
}
